body{
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    
}
#formulario form{
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 300px;
    height: 300px;
    margin-top: 50%;
    color: black;
    border-radius: 20%;
    border: 3px solid black;
}